// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-message {
  list-style: none;
  color: #1e366a;
  border: dotted red 1px;/*ドット 色 太さ*/
  padding: 0.5em 0.5em 0.5em 2em;
}
